<footer class="footer">
  <p>Cette page a été créée en utilisant l'interface utilisateur par défaut d'Antora.</p>
  <p>Le code source de cette interface utilisateur est placé sous les termes de la licence MPL-2.0.</p>
</footer>
